.homeWrap {
    text-align: center;

    h1 {
        font-size: 2.5rem;
        color: #a32431;
        position: relative;
        top: -220px;
    }

    p {
        font-size: 1.4rem;
        position: relative;
        top: -215px;
    }
}

.mainBody {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .therm {
        width: 47%;

        img {
            width: 100%;
            object-fit: contain;
        }
    }

    .prods {
        width: 47%;
        padding: 0 80px;

        img {
            width: 100%;
            object-fit: contain;
        }
    }
}